.homeBackground {
  background-image: url("../img/homeBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.navBackground {
  background-image: url("../img/homeBackground.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#header {
  width: 255px;
  
  z-index: 1040; 
  background-color: #fff; 
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.title {
  color: rgb(6, 6, 89);
  font-family: 'Franklin Gothic Medium';
}

.title:hover {
  color: rgb(6, 6, 89);
  font-family: 'Franklin Gothic Medium';
}

.nav-link-custom:hover {
  border-bottom: 2px solid rgb(13, 13, 155);
}

h1 {
  font-family: 'Franklin Gothic Medium';
}

.card-body .dropdown-menu {
  display: block;
  position: static;
  border: none; 
  box-shadow: none; 
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item.active {
  border-left: 2px solid rgb(13, 13, 155);
  background-color: #f8f9fa; 
  color:black
}

.disabledItem {
  background-color: #eef0f3;
}

.fixed-height-card {
  max-height: 150px; 
  min-height: 40px;
  overflow-y: scroll; 
}

.fixed-height-card-form {
  max-height: 550px; 
  overflow-y: scroll; 
}

.color-0{ background-color: transparent; }
.color-1{ background-color: rgb(241, 241, 239); } /*light grey*/
.color-2{ background-color: rgb(207, 207, 207); } /*grey*/
.color-3{ background-color: rgb(244, 238, 237); } /*NOOOO*/
.color-4{ background-color: rgb(250, 229, 205); } /*light orange*/
.color-5{ background-color: rgb(251, 243, 219); } /*light yellow*/
.color-6{ background-color: rgb(221, 237, 234); } /*light green*/
.color-7{ background-color: rgb(220, 235, 245); } /*light blue*/
.color-8 { background-color: rgb(231, 222, 244); } /*soft purple*/
.color-9{ background-color: rgb(244, 223, 235); } /*light pink*/
.color-10 { background-color: rgb(209, 225, 244); } /*blue strong*/
.color-11 { background-color: rgb(201, 218, 223); } /*grey*/
.color-12 { background-color: rgb(213, 217, 231); } /*not sure*/
.color-13 { background-color: rgb(213, 220, 245); } /*light purple*/
.color-14 { background-color: rgb(208, 208, 234); } /*soft purple*/
.color-default{ background-color: #dbdee2; } /*light grey*/



.franja-cell {
  color: inherit;
  border-radius: 10px;
  margin-top: 2px;
  width: 97%;
  height: 90%;

}

.week-days{
  margin-bottom: 2px;
}

.week-days {
  background-color: #f5f6f7; 
  padding: 2px; 
  border-right: 1px solid #b5b8bb;
}

.monday {
  background-color: #f5f6f7; 
  border-top-left-radius: 12px; 
  border-bottom-left-radius: 12px; 
  padding: 2px; 
  border-right: 1px solid #b5b8bb;
}

.friday {
  background-color: #f5f6f7; 
  border-top-right-radius: 12px; 
  border-bottom-right-radius: 12px; 
  padding: 2px;
}

.btn-warning{
  background-color: #fed177;
}

.fixed-height-card-dropdown {
  max-height: 150px; 
  min-height: 30px;
  overflow-y: scroll; 
}

.searchable-dropdown-menu{
  background-color: rgba(173, 174, 179, 0.248);
}

.searchable-dropdown-menu:hover {
  background-color: #007bffcd;
  color: #fff;
}

.toast-header-icon {
  width: 20px;
  height: 20px;
  background-color: #0d6efd;
  display: inline-block;
  margin-right: 10px;
}


.mobile-nav-toggle {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 1rem;
  z-index: 10000;
}